.heading {
  color:green;
  font-family:helvetica;
  font-size:100px
  font-weight:bold;
  color:khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.brushes {
  font-family: helvetica;
  font-size: 32ppx;
  font-weight: bold;
  color:white;
  background-color: mediumspringgreen;
}
.frames {
  background-color: lightcoral;
  color:white;
}
.paint{
  color:white;
  background-color: skyblue;
}
